server:
  logLevel: "info" # Available values: panic, fatal, error, warn, warning, info, debug, trace
postgres:
  dsn: "postgres://tweetwatch:tweetwatch@localhost:5432/tweetwatch?sslmode=disable"
rest:
  port: 1308
twitter:
  provider: "go-twitter" # May be "go-twitter" (default) or "void". The "void" provider does not connect to Twitter API.
  consumerKey: ""
  consumerSecret: ""
  accessToken: ""
  accessSecret: ""
nats:
  url: "nats://localhost:4222"
  clusterId: "tweetwatch-cluster"
  clientId: "tweetwatch-client"