postgres:
  dsn: "postgres://tweetwatch:tweetwatch@localhost:5432/tweetwatch?sslmode=disable"
grpc:
  listen: ":1308"
twitter:
  consumerKey: ""
  consumerSecret: ""
  accessToken: ""
  accessSecret: ""