postgres:
  dsn: "postgres://tweetwatch:tweetwatch@localhost:5432/tweetwatch?sslmode=disable"
grpc:
  listen: ":1308"
twitter:
  provider: "go-twitter" # May be "go-twitter" (default) or "void". The "void" provider does not connect to Twitter API.
  consumerKey: ""
  consumerSecret: ""
  accessToken: ""
  accessSecret: ""